@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa+One&family=Delicious+Handrawn&family=Kanit:wght@500&family=Oswald&family=Poltawski+Nowy&family=Sigmar&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sigmar", cursive;
}

:root {
  --PrimaryColor: rgb(236, 115, 108);
  --SecondaryColor: hsl(100, 17%, 95%);
  --colorOne: hsl(15, 74%, 70%);
  --colorTwo: hsl(28,100%,82%);
  --HoverColor:hsl(225, 56%, 59%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor:hsl(0, 0%, 12%);
  --textColor:hsl(240,1%,48%);
  --borderColor:hsl(0,0%,12%);
  --whiteColorDeam:hsl(0, 0%, 93%);
  --greyBg:hsl(0, 0%, 96%);
  --greyText:rgb(145, 145, 145);
  --inputColor:hsl(330, 12%, 97%);
  --boxShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0,0,0,0.05) 0px 4px 6px -2px;
  --transition: .4s ease-in-out;
}

body {
  background: var(--whiteColor);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icons {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 1rem 1.5rem;
  background: var(--whiteColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--blackColor);
}
.btn a {
  color: var(--blackColor);
  font-weight: 500;
}
.btn:hover {
  background: var(--HoverColor);
}

img, video {
  width: 100;
  height: auto;
}

input {
  font-size: 100%;
  color: var(--greyText);
}

p {
  font-size: 13px;
  color: var(--greyText);
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: var(--blackColor);
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: var(--blackColor);
}

.navBar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
}
.navBar .navBarOne, .navBar .navBartTwo {
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.navBar .navBarOne {
  background: var(--SecondaryColor);
}
.navBar .navBarOne .icon:hover {
  color: var(--PrimaryColor);
}
.navBar .navBarOne .atb {
  gap: 1rem;
}
.navBar .navBarOne .atb span {
  color: var(--blackColor);
  font-size: 11px;
  cursor: pointer;
}
.navBar .navBarOne .atb span:hover {
  color: var(--HoverColor);
  font-size: 700;
}
.navBar .navBartTwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 3rem;
  padding: 1.3rem 1rem;
  position: fixed;
  transition: 0.3s ease-in-out;
}
.navBar .navBartTwo .logoDiv .logo {
  width: 20%;
}
@media screen and (max-width: 768px) {
  .navBar .navBartTwo .navBarMenu {
    position: absolute;
    background: var(--SecondaryColor);
    padding: 1.5rem;
    border-radius: 10px;
    top: 5rem;
    right: -50%;
    width: 50%;
    transform: translatex(50%);
    z-index: 2000;
    box-shadow: black;
    border: 3px solid var(--whiteColor);
    transition: 0.4s ease-in-out;
  }
  .navBar .navBartTwo .navBarMenu .menu {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */